.container {
  padding: 24px;
  border-radius: 8px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.header{
  display: flex;
  justify-content: space-between;
}
.filter{
  font-size: 16px;
  font-weight: bold
}

.clearAll{
  font-size: 12px;
  font-weight: 500;
  color: #6e62e3;
}
.divider{
  margin: 11px 3px 0 0;
  border: solid 1px #efefef;
}
.more{
  margin: 10px 0 0 0px;
  font-size: 12px;
  font-weight: 200;
  line-height: 2.67;
  color: #6e62e3;
}